#main {
  width: 1000px;
  margin-top: 136px;
  margin-left: auto;
  margin-right: auto;
}

.filter-container {
  width: 275px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

ul#filter {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

  li.active {
    &:nth-child(1) {
      color: #333;
      &:before {
        background-color: #333;
      }
    }

    &:nth-child(2) {
      color: $accent_color_2;
      &:before {
        background-color: $accent_color_2;
      }
    }

    &:nth-child(3) {
      color: $accent_color_1;
      &:before {
        background-color: $accent_color_1;
      }
    }

    &:nth-child(4) {
      color: $accent_color_3;
      &:before {
        background-color: $accent_color_3;
      }
    }

    &:nth-child(5) {
      color: $accent_color_4;
      &:before {
        background-color: $accent_color_4;
      }
    }
  }
}

.recipes-container {
  width: 700px;
  display: inline-block;
}

.index-recipe {
  margin: 30px auto;
  max-width: 68.5em;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  border-left: 5px solid #e6e6e6;
  padding: 20px;
  background-color: #fff;
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  &.brunch {
    border-left: 5px solid $accent_color_2;
  }

  &.dinner {
    border-left: 5px solid $accent_color_1;
  }

  &.seasonal {
    border-left: 5px solid $accent_color_3;
  }

  &.snacks {
    border-left: 5px solid $accent_color_4;
  }

  .index-name {
    font-size: 1.35em;
    margin-bottom: .5em;
  }
}
