// variables

$accent_color_1: #f53f51; //red
$accent_color_2: #208597; //teal
$accent_color_3: #e6ae2a; //gold
$accent_color_4: #fc94A4; //pink

//


html {
  width: 100%;
  position: relative;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: #f3f3f3;
}

ul {
  list-style-type: none;
  font-size: 17px;
  margin-top: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

ul li {
  line-height: 32px;
  margin-top: 3px;
}

ul li:before {
  content: "\A";
  width: 6px;
  height: 6px;
  position: absolute;
  margin-left: -23px;
  margin-top: 12px;
  background-color: #e6e6e6;
}

#header {
  background-color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e6e6e6;
  z-index: 10;
}

#header a {
  text-decoration: none;
  font-size: 26px;
  line-height: 36px;
  color: #333;
  font-weight: 200;
}

.positive {
  background: #f3f3f3;
  border: 2px solid #e6e6e6;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0 auto;
  padding: 0.75em;
  text-align: center;
  text-transform: uppercase;
  width: 10em;
}

input {
  width: 100%;
  height: 3em;
  padding: 1em;
  border: 1px solid #e6e6e6;
  font-size: 17px;
  margin: 1em 0;
  color: #333;
  -webkit-font-smoothing: antialiased;
  &:focus {
    color: #333;
    outline-width: 0;
  }
}

textarea {
  width: 100%;
  height: 400px;
  padding: 1em;
  border: 1px solid #e6e6e6;
  font-size: 17px;
  margin: 1em 0;
  -webkit-font-smoothing: antialiased;
  color: #333;
  &:focus {
    color: #333;
    outline-width: 0;
  }
}

select {
  border: 0;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  color: #333;
  font-size: 1em;
  height: 3em;
  margin: 1em 0;
  outline: 0;
  padding: 3px 10px;
}
