// variables

$accent_color_1: #f53f51; //red
$accent_color_2: #208597; //teal
$accent_color_3: #e6ae2a; //gold
$accent_color_4: #fc94A4; //pink

//


html {
  width: 100%;
  position: relative;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: #f3f3f3;
}

ul {
  list-style-type: none;
  font-size: 17px;
  margin-top: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

ul li {
  line-height: 32px;
  margin-top: 3px;
}

ul li:before {
  content: "\A";
  width: 6px;
  height: 6px;
  position: absolute;
  margin-left: -23px;
  margin-top: 12px;
  background-color: #e6e6e6;
}

#header {
  background-color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#header a {
  text-decoration: none;
  font-size: 26px;
  line-height: 36px;
  color: #333;
  font-weight: 200;
}
