.recipe-container {
  margin: 136px auto 90px auto;
  max-width: 68em;
  vertical-align: middle;
  width: 100%;
  border-top: 5px solid #e6e6e6;
  background-color: #fff;
  padding: 50px;
  box-sizing: border-box;

  &.brunch {
    border-top: 5px solid $accent_color_2;
  }

  &.dinner {
    border-top: 5px solid $accent_color_1;
  }

  &.seasonal {
    border-top: 5px solid $accent_color_3;
  }

  &.snacks {
    border-top: 5px solid $accent_color_4;
  }

  h2 {
    font-size: 1.25em;
    margin-bottom: 0.75em;
  }

  ul {
    margin-left: 0;
  }
}

.show-name {
  font-size: 1.5em;
  margin-bottom: 1em;
}
