<!DOCTYPE html>
<html ng-app="recipebox">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <title>Mary Food</title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
  <div ng-view>
    <%= yield %>
  </div>
</body>
</html>
